.resizable-image {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: auto;
  transition: width 0.05s linear, height 0.05s linear;
  touch-action: none;
}

.resizable-image.resizing {
  user-select: none;
  will-change: width, height;
}