:root,[data-theme=light]{
  --p-background-primary:#ffffff;
  --p-background-secondary:#ffffff;
  --p-background-tertiary:#ffffff;
  --p-primary-shade:#005fdc;
  --p-primary-low:#f2f5ff;
  --p-primary-low-shade:#eaeefc;
  --p-secondary-main:#070e27;
  --p-secondary-shade:#000000;
  --p-secondary-tint:#0f193e;
  --p-secondary-low:#f5f5f5;
  --p-secondary-low-shade:#efefef;
  --p-secondary-contrast:#ffffff;
  --p-secondary-outline-border:#dddfe3;
  --p-basic-0:#ffffff;
  --p-gray-scale-50:#fafafa;
  --p-gray-scale-100:#f1f2f3;
  --p-gray-scale-200:#e6eaef;
  --p-gray-scale-300:#cbcfd8;
  --p-gray-scale-400:#aab1bc;
  --p-gray-scale-500:#818c9e;
  --p-gray-scale-700:#3b4b63;
  --p-gray-scale-900:#1c293c;
  --p-basic-1000:#101820;
  --p-text-primary:rgba(16, 24, 32, 1);
  --p-text-secondary:rgba(59, 75, 99, 1);
  --p-text-disabled:#818c9e;
  --hover-color:var(--p-secondary-low);
}
:root,[data-theme=dark],[data-theme=light]{
  --p-background-gray:#f5f5f5;
  --p-transparent:transparent;
  --p-note:#ffb4001a;
  --p-banner-main:#ffffff;
  --p-banner-shade:#ffffff;
  --p-banner-tint:#ffffff;
  --p-undefined:transparent;
  --p-none:transparent;
  --p-primary-main:#0375f8;
  --p-primary-tint:#4b96fc;
  --p-primary-contrast:#ffffff;
  --p-primary-outline-border:#0375f8;
  --p-error-main:#ed3a37;
  --p-error-shade:#bf2b2b;
  --p-error-tint:#f46360;
  --p-error-low:#fee9e8;
  --p-error-low-shade:var(--p-undefined);
  --p-error-contrast:#ffffff;
  --p-error-outline-border:#fececc;
  --p-warning-main:#dea722;
  --p-warning-shade:#c8931e;
  --p-warning-tint:#f4c449;
  --p-warning-low:#fff5d2;
  --p-warning-low-shade:var(--p-undefined);
  --p-warning-contrast:#ffffff;
  --p-warning-outline-border:#f7e199;
  --p-success-main:#32b375;
  --p-success-shade:#247951;
  --p-success-tint:#4bc88e;
  --p-success-low:#d8ffef;
  --p-success-low-shade:var(--p-undefined);
  --p-success-contrast:#ffffff;
  --p-success-outline-border:#b4f1d6;
  --p-info-main:#1588f2;
  --p-info-shade:#0869c2;
  --p-info-tint:#46b0fd;
  --p-info-low:#f0f3fa;
  --p-info-low-shade:var(--p-undefined);
  --p-info-contrast:#ffffff;
  --p-info-outline-border:#86c7f5;
  --p-disabled-main:var(--p-gray-scale-100);
  --p-disabled-shade:var(--p-undefined);
  --p-disabled-tint:var(--p-undefined);
  --p-disabled-low:var(--p-undefined);
  --p-disabled-low-shade:var(--p-undefined);
  --p-disabled-contrast:var(--p-gray-scale-400);
  --p-disabled-outline-border:var(--p-undefined);
  --p-disabled-button-main:#e3eafd;
  --p-disabled-button-shade:var(--p-undefined);
  --p-disabled-button-tint:var(--p-undefined);
  --p-disabled-button-low:var(--p-undefined);
  --p-disabled-button-low-shade:var(--p-undefined);
  --p-disabled-button-contrast:#95a8c5;
  --p-disabled-button-outline-border:var(--p-undefined);
  --p-delete:var(--p-error-main);
  --p-complement:#784aff;
  --p-text-primary-main:rgba(0, 0, 0, 0.38);
  --p-text-delete:var(--p-delete);

  ;
  --hover-color:var(--p-secondary-low);
}
.g-icon {
    all: unset;
    box-sizing: content-box;
    line-height: normal;
    border-radius: 5px;
    transition: background-color 0.15s ease-in-out;
    display: block;
    
    &.hover:hover {
      background-color:var(--hover-color);
      cursor: pointer;
    }
    &.active:active {
      background-color: var(--p-secondary-low-shade);
      cursor: pointer;
    }
    &.selected {
      background-color: var(--p-gray-scale-100);
      cursor: pointer;
    }

    &.xs {
      width: 14px;
      height: 14px;
    }
    &.sm {
      width: 16px;
      height: 16px;
    }
    &.md {
      width: 18px;
      height: 18px;
    }
    &.lg {
      width: 24px;
      height: 24px;
    }

    :is(svg) {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    &.hover,
    &.active,
    &.selected {
      &.xs {
        padding: 3px;
      }
      &.sm {
        padding: 4px;
      }
      &.md {
        padding: 5px;
      }
      &.lg {
        padding: 4px;
      }
    }
  }

  