  .g-icon {
    all: unset;
    box-sizing: content-box;
    line-height: normal;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.15s ease-in-out;
    color: var(--p-text-primary) !important;
    display: block;

    &.hover:hover {
      background-color:var(--p-secondary-low);
    }
    &.active:active {
      background-color: var(--p-secondary-low-shade);
    }
    &.selected {
      background-color: var(--p-gray-scale-100);
    }

    &.xs {
      width: 14px;
      height: 14px;
    }
    &.sm {
      width: 16px;
      height: 16px;
    }
    &.md {
      width: 18px;
      height: 18px;
    }
    &.lg {
      width: 24px;
      height: 24px;
    }

    svg {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    &.hover,
    &.active,
    &.selected {
      &.xs {
        padding: 3px;
      }
      &.sm {
        padding: 4px;
      }
      &.md {
        padding: 5px;
      }
      &.lg {
        padding: 4px;
      }
    }
  }

  :root {
    --p-background-primary:#FFFFFF;
    --p-background-secondary:#FFFFFF;
    --p-background-tertiary:#FFFFFF;
    --p-background-gray:#F5f5f5;
    --p-transparent:transparent;
    --p-note:#FFB4001A;
    --p-banner-main:#FFFFFF;
    --p-banner-shade:#FFFFFF;
    --p-banner-tint:#FFFFFF;
    --p-undefined:transparent;
    --p-none:transparent;
    --p-primary-main:#006ADB;
    --p-primary-shade:#004FC2;
    --p-primary-tint:#3697FE;
    --p-primary-low:#F2F5FF;
    --p-primary-low-shade:#EAEEFC;
    --p-primary-contrast:#FFFFFF;
    --p-primary-outline-border:#006ADB;
    --p-secondary-main:#070E27;
    --p-secondary-shade:#000000;
    --p-secondary-tint:#0F193E;
    --p-secondary-low:#F5F5F5;
    --p-secondary-low-shade:#EFEFEF;
    --p-secondary-contrast:#FFFFFF;
    --p-secondary-outline-border:#DDDFE3;
    --p-error-main:#ED3A37;
    --p-error-shade:#BF2B2B;
    --p-error-tint:#EB5757;
    --p-error-low:#FEE9E8;
    --p-error-low-shade:var(--p-undefined);
    --p-error-contrast:#FFFFFF;
    --p-error-outline-border:#FECECC;
    --p-warning-main:#DEA722;
    --p-warning-shade:#C8931E;
    --p-warning-tint:#F4C449;
    --p-warning-low:#FFF5D2;
    --p-warning-low-shade:var(--p-undefined);
    --p-warning-contrast:#FFFFFF;
    --p-warning-outline-border:#F7E199;
    --p-success-main:#32B375;
    --p-success-shade:#247951;
    --p-success-tint:#4BC88E;
    --p-success-low:#D8FFEF;
    --p-success-low-shade:var(--p-undefined);
    --p-success-contrast:#FFFFFF;
    --p-success-outline-border:#B4F1D6;
    --p-info-main:#1588F2;
    --p-info-shade:#0869C2;
    --p-info-tint:#46B0FD;
    --p-info-low:#F0F3FA;
    --p-info-low-shade:var(--p-undefined);
    --p-info-contrast:#FFFFFF;
    --p-info-outline-border:#86C7F5;
    --p-disabled-main:var(--p-gray-scale-100);
    --p-disabled-shade:var(--p-undefined);
    --p-disabled-tint:var(--p-undefined);
    --p-disabled-low:var(--p-undefined);
    --p-disabled-low-shade:var(--p-undefined);
    --p-disabled-contrast:var(--p-gray-scale-400);
    --p-disabled-outline-border:var(--p-undefined);
    --p-disabled-button-main:#DADADA;
    --p-disabled-button-shade:var(--p-undefined);
    --p-disabled-button-tint:var(--p-undefined);
    --p-disabled-button-low:var(--p-undefined);
    --p-disabled-button-low-shade:var(--p-undefined);
    --p-disabled-button-contrast:#949494;
    --p-disabled-button-outline-border:var(--p-undefined);
    --p-basic-0:#FFFFFF;
    --p-gray-scale-50:#F5F5F5;
    --p-gray-scale-100:#EEEEEE;
    --p-gray-scale-200:#DEDEDE;
    --p-gray-scale-300:#CACACA;
    --p-gray-scale-400:#B4B4B4;
    --p-gray-scale-500:#A1A1A1;
    --p-gray-scale-700:#717171;
    --p-gray-scale-900:#424242;
    --p-basic-1000:#181818;
    --p-delete:var(--p-error-main);
    --p-complement:#784AFF;
    --p-text-primary:#181818;
    --p-text-secondary:#717171;
    --p-text-disabled:#949494;
    --p-text-primary-main:rgba(0, 0, 0, 0.38);
    --p-text-delete:var(--p-delete)
  }